@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

<form method="post">
    <div class="m-4 ms-0">
		<h2>Login</h2>
    </div>
    <div class="m-2">
        <label>Username: </label>
        <input type="text" name="Username" class="form-control-sm" />
    </div>
    <div class="m-2">
        <label>Password: </label>
		<input type="password" name="Password" class="form-control-sm" />
    </div>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger py-2 px-3 m-1" style="width: fit-content">@ViewBag.Error</div>
	}
    <div class="m-2">
    	<button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
